@font-face {
  font-family: "Polentical Neon";
  src: local("Polentical Neon"), url("../font/Polentical Neon Regular.ttf");
}
@font-face {
  font-family: "Induction";
  src: local("Induction"), url("../font/Induction.otf");
}
* {
  font-family: Polentical Neon, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  color: #2D2D2D;
}

a {
  font-size: 20px;
  color: #26E3FF;
  text-decoration: none;
}

p, pre {
  font-size: 14px;
  color: white;
}

#about_text {
  margin-bottom: 20px;
}

h3, .case_p {
  font-size: 12px;
}

h3 {
  color: #767676;
}

.text_r {
  text-align: right;
}

.spacing_20 {
  height: 20px;
}

.spacing_60 {
  height: 60px;
}

.spacing_80 {
  height: 80px;
}

.spacing_120 {
  height: 120px;
}

.spacing_160 {
  height: 160px;
}

button {
  border: 0;
}

#burger {
  width: 30px;
  height: 30px;
  background: url(../images/bar.svg) no-repeat center;
  align-self: center;
  justify-self: end;
  transition: all 0.5s ease;
}

#burger.expanded {
  transform: rotate(90deg);
}

header {
  line-height: 80px;
  background-color: #26E3FF;
}

#menu {
  display: none;
  line-height: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

#menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

#menu ul li {
  display: inline;
}

#bar {
  margin-right: 0px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#burger-con {
  display: none;
  position: relative;
  z-index: 2;
  text-align: right;
  background-color: #2D2D2D;
}

#burger-con ul li {
  margin-top: 10px;
}

#burger-con.slide-toggle {
  display: block;
}

#footer_logo {
  margin-top: auto;
  margin-bottom: auto;
}

footer {
  height: 80px;
  background-color: #26E3FF;
  margin-top: 60px;
}

.footer_logo {
  display: none;
}

.social_media_group {
  align-content: center;
  justify-self: center;
  justify-content: space-between;
}

.social_media_group img {
  display: inline;
  height: 36px;
  margin-left: auto;
  margin-right: auto;
}

.more_info {
  font-size: 20px;
  color: #2D2D2D;
  text-align: center;
  align-self: center;
  height: 24px;
  background-color: #26E3FF;
}

#contct_now {
  font-size: 16px;
  color: #2D2D2D;
  text-align: center;
  align-self: center;
  height: 24px;
  background-color: #26E3FF;
  margin-top: 20px;
}

.c_grey {
  color: #767676;
}

.fill_l {
  background-color: #26E3FF;
  height: 100%;
  width: 37px;
  grid-row: 2;
  position: relative;
  right: 37px;
}

.line_h2 {
  height: 30px;
  background-color: #26E3FF;
  margin-top: 60px;
  margin-bottom: 20px;
}

.line_r {
  margin-left: 30%;
}

.line_l {
  margin-right: 30%;
  text-align: right;
}

html {
  background-color: #2D2D2D;
}

#welcome_stack {
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
}

.home_welcome {
  font-family: Induction, Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #767676;
  text-align: center;
  grid-column-start: 1;
  margin-bottom: -10px;
  grid-auto-flow: column;
}

#short_description {
  text-align: center;
  line-height: 30px;
  color: #26E3FF;
}

#up_icon {
  margin-left: auto;
  margin-right: auto;
}

.player_section {
  margin-bottom: 20px;
}

.player_l {
  grid-row: 2;
  z-index: 2;
}

#video_1 {
  background-color: #767676;
  margin-bottom: 20px;
}

.img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

#home_contact {
  height: 30px;
  background-color: red;
  text-align: right;
}

#chat_icon {
  margin-left: auto;
  margin-right: auto;
}

/*---- desktop ----*/
@media screen and (min-width: 1200px) {
  header {
    line-height: 150px;
  }
  #menu {
    display: block;
  }
  .home_welcome {
    font-size: 160px;
    margin-bottom: -60px;
  }
  #burger, #up_icon {
    display: none;
  }
  .plyer {
    height: 200px;
  }
}
#contact_form form input, #contact_form form textarea {
  background-color: #26E3FF;
  padding: 10px;
  border: 0px;
  margin-top: 60px;
}

#contact_form form {
  display: flex;
  flex-direction: column;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 20px;
  color: #2D2D2D;
}

input::placeholder, textarea::placeholder {
  font-size: 20px;
  color: #2D2D2D;
}

#contact_form input[type=submit] {
  width: 120px;
  text-align: center;
  align-self: center;
}

.case_header {
  margin-top: 60px;
  margin-bottom: 20px;
}

.case_text {
  height: 30px;
  background-color: #26E3FF;
}

.text_problem {
  grid-row: 2;
  z-index: 2;
}

#case_1 {
  margin-bottom: 20px;
}

.player_case {
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */