@font-face {
    font-family: "Polentical Neon";
    src:
      local("Polentical Neon"),
      url("../font/Polentical\ Neon\ Regular.ttf")
}

@font-face {
    font-family: "Induction";
    src:
      local("Induction"),
      url("../font/Induction.otf")
}

@font-face {
  font-family: "Rajdhani";
  src:
    local("Rajdhani"),
    url("../font/Rajdhani-Variable.ttf")
}
