.footer{
    height: 80px;
    background-color: #26E3FF;
    margin-top: 60px; 
}

.footer_logo{
    align-self: center;
    display: none;
}

.social_media_group{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.social_media_group img{
    display: inline;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
}

.footer div a{
    font-size: 0px;
}

.footer div a img{
    transition: transform 0.3s ease;
}

.footer div a img:hover{
    filter: invert(100%) brightness(200%) contrast(100%);
}

/*---- tablet ----*/

@media screen and (min-width: 768px) {
    .footer_logo{
        display: block;
    }
}

/*---- desktop ----*/

@media screen and (min-width: 1200px) {
    .footer{
        height: 160px;
        margin-top: 200px; 
    }

    .footer_logo{
        height: 40px;
    }

    .social_media_group img{
        height: 40px;
    }
}