#footer_logo{
    margin-top: auto;
    margin-bottom: auto;
}

#footer_3{
    height: 20px;
    background-color: #767676;
    margin-top: auto;
    margin-bottom: auto;
}

footer{
    height: 80px;
    background-color: red;
    
}