button{
    border: 0;
}

#burger{
    width: 30px;
    height: 30px;
    background: url(../images/bar.svg) no-repeat center;
    align-self: center;
    justify-self: end;
    transition: all .5s ease;
 
 }

#burger.expanded {
    transform: rotate(90deg);
}

header{
    line-height: 80px;
    background-color: red;
}

#menu{
    display: none;
    line-height: initial;
    margin-top: auto;
    margin-bottom: auto;
}

#menu ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}


#menu ul li{
    display: inline;
}

#bar{
    margin-right: 0px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#burger-con{
    display: none;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 2;
}

#burger-con.slide-toggle {
    display: block;
}