button{
    border: 0;
    margin: 0;
    padding: 0;
}

#burger{
    width: 30px;
    height: 30px;
    background: url(../images/bar.svg) no-repeat center;
    align-self: center;
    justify-self: end;
    transition: all .5s ease;
 
 }

#burger.expanded {
    transform: rotate(90deg);
}

header{
    line-height: 80px;
    background-color: var(--accent-color);
}

#header_logo{
    align-self: center;
}

header, #burger-con{

        transition: transform 0.3s ease-in-out;
        position: sticky;
        top: 0;
        z-index: 9999;
      }
      
      .hide-header {
        transform: translateY(-100%);
      }
      
      
      

#menu{
    display: none;

    margin-top: auto;
    margin-bottom: auto;
}

#menu ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;

}

#menu ul li{
    list-style: none;
     display: flex;
    align-items: center;
     justify-content: center;
}


#bar{
    margin-right: 0px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#burger-con{
    display: none;
    position: relative;
    z-index: 2;
    text-align: right;

    background-color: #2D2D2D;

}

#burger-con ul li{
    margin-top: 10px;
}

#burger-con.slide-toggle {
    display: block;
}

.logo, #menu ul li a{
    transition: transform 0.3s ease;
}

.logo:hover{
    filter: invert(100%) brightness(200%) contrast(100%);
}

#menu ul li a:hover{
    color: white;
}

#theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; // optional, clean edges
    margin: 0 auto; // horizontal centering if block-level 
    img {
      display: block;
    }
  }
/*---- tablet ----*/

@media screen and (min-width: 768px) {
    header{
        line-height: 60px;
    }
}

/*---- desktop ----*/

@media screen and (min-width: 1200px) {
    header{
        height: 80px;
    }

    #header_logo img{
        height: 20px;
    }
}