:root {
    --bg-color: #e0e0e0;
    --text-color: #0F0F0F;
    --text-color-2: #000000;
    --accent-color: #0BC6FF;

}
  
body.night-mode {
    --bg-color: #0F0F0F;
    --text-color: #e0e0e0;
    --accent-color: #0BC6FF;
}
  
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.more_info{
    font-size: 20px;
    color: var(--bg-color);
    text-align: center;
    align-content:  center;
    
    height: 24px;
    background-color: var(--accent-color);
}

#contct_now, #resume{
    font-size: 16px;
    color: var(--bg-color);
    text-align: center;
    align-content:  center;
    
    height: 24px;
    background-color: var(--accent-color);

    margin-top: 20px;
}

.c_grey{
    color: #767676;
}

.fill_l{
    background-color: var(--accent-color);
    height: 100%;
    width: 37px;
    grid-row: 2;
    position: relative;
    right: 37px;
}

.line_h2{
    height: 30px;
    background-color: var(--accent-color);
    margin-top: 60px;
    margin-bottom: 20px;
}

.line_r, .line_l{
    position: relative;
    overflow: hidden;
    margin-left: 30%;
}

.line_l{
    margin-left: 0%;
    margin-right: 30%;
    text-align: right;
}

/*---- tablet ----*/

@media screen and (min-width: 768px) {
    .line_h2{
        height: 40px;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .more_info{
        
    }

    .line_r{
        margin-left: 35%;
    }
    
    .line_l{
        margin-right: 35%;
    }

    #contct_now, #resume{
        margin-top: 40px;
    }
}

/*---- desktop ----*/

@media screen and (min-width: 1200px) {
    .line_h2{
        height: 60px;
        margin-top: 200px;
        margin-bottom: 120px;
        clip-path: polygon(
    20px 0%,               /* top-left bevel */
    calc(100% - 20px) 0%,  /* top-right bevel */
    100% 20px,             /* continue from right bevel */
    100% 100%,             /* bottom right */
    0% 100%,               /* bottom left */
    0% 20px                /* continue from left bevel */
  );
    }

    .more_info{
       font-size: 24px; 
       height: 40px;
       clip-path: polygon(
    20px 0%,               /* top-left bevel */
    calc(100% - 20px) 0%,  /* top-right bevel */
    100% 20px,             /* continue from right bevel */
    100% 100%,             /* bottom right */
    0% 100%,               /* bottom left */
    0% 20px                /* continue from left bevel */
  );
    }

    .line_r{
        margin-left: 35%;
    }
    
    .line_l{
        margin-right: 35%;
    }

    #contct_now, #resume{
        font-size: 24px;
        margin-top: 40px;
        height: 40px;
        clip-path: polygon(
    20px 0%,               /* top-left bevel */
    calc(100% - 20px) 0%,  /* top-right bevel */
    100% 20px,             /* continue from right bevel */
    100% 100%,             /* bottom right */
    0% 100%,               /* bottom left */
    0% 20px                /* continue from left bevel */
  );
    }
}