.more_info{
    font-size: 20px;
    color: #2D2D2D;
    text-align: center;
    align-self:  center;
    
    height: 24px;
    background-color: #26E3FF;
}

#contct_now{
    font-size: 16px;
    color: #2D2D2D;
    text-align: center;
    align-self:  center;
    
    height: 24px;
    background-color: #26E3FF;

    margin-top: 20px;
}

.c_grey{
    color: #767676;
}

.fill_l{
    background-color: #26E3FF;
    height: 100%;
    width: 37px;
    grid-row: 2;
    position: relative;
    right: 37px;
}

.line_h2{
    height: 30px;
    background-color: #26E3FF;
    margin-top: 60px;
    margin-bottom: 20px;
}

.line_r{
    margin-left: 30%;
}

.line_l{
    margin-right: 30%;

    text-align: right;
}