.more_info{
    font-size: 20px;
    color: #2D2D2D;
    text-align: center;
    align-self:  center;
    
    height: 24px;
    background-color: #26E3FF;
}

#contct_now{
    font-size: 16px;
    color: #2D2D2D;
    text-align: center;
    align-self:  center;
    
    height: 24px;
    background-color: #26E3FF;

    margin-top: 20px;
}