html{
    font-size: 62.5%;
}

body {
    font-family: Rajdhani, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;   
    font-weight: 500;
    margin: 0;
    padding: 0;
  }

h2, a, pre{
    font-family: Polentical Neon, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    color: #2D2D2D;
    text-decoration: none;
}

h2{
    font-weight: normal;
}

a{
    font-size: 2rem;
}

p, pre{
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
}

#about_text{
    margin-bottom: 2rem;
}

h3, .case_p,.case_date{
    text-transform: uppercase;
    font-size: 2rem;
}

h3{
    color: #767676; 
}

.text_r{
    text-align: right;
}

#burger-con ul li a{
    color: #26E3FF;
}

/*---- tablet ----*/

@media screen and (min-width: 768px) {
    h2{
        font-size: 30px;
    }

    #about_text{
        margin-bottom: 40px;
    }

    p, pre{
        font-size: 20px;
    }
    
    a, h3, .case_p{
        font-size: 16px;
    }

}

/*---- desktop ----*/

@media screen and (min-width: 1200px) {
    h2{
        font-size: 48px;
    }

    #about_text{
        margin-bottom: 120px;
    }

    p, pre{
        font-size: 30px;
    }
    
    a, h3, .case_p{
        font-size: 24px;
    }
}