*{
    font-family: Polentical Neon, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

h2{
    font-size: 24px;
    color: #2D2D2D;
}

a{
    font-size: 20px;
    color: #26E3FF;
    text-decoration: none;
}

p, pre{
    font-size: 14px;
    color: white;
}

#about_text{
    margin-bottom: 20px;
}

h3, .case_p{
    font-size: 12px;
}

h3{
    color: #767676; 
}

.text_r{
    text-align: right;
}