.case_header{
    margin-top: 60px;
    margin-bottom: 20px;
}

.case_text{
    height: 30px;
    background-color: #26E3FF;
}

.text_problem{
    grid-row: 2;
    z-index: 2;
    
}

#case_1{
    margin-bottom: 20px;
}

.player_case{
    margin-bottom: 20px;
}