html{
    background-color: #2D2D2D;
}

#welcome_stack{
    
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
}

.home_welcome{
    font-family: Induction, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #767676;
    text-align: center;


    grid-column-start: 1;
    margin-bottom: -10px;

    
    grid-auto-flow: column;
}

#short_description{
    text-align: center;
    line-height: 30px;
    color: #26E3FF;
}

#up_icon{
    margin-left: auto;
    margin-right: auto;
}

.player_section{
    overflow: hidden;
    margin-bottom: 20px;
    
}

.player_l{
    position: relative;
    overflow: hidden;
    left: 0;
    grid-row: 2;
    z-index: 2;
    
}

#video_1{
    
    background-color: #767676;
    margin-bottom: 20px;

}

.img{
    width: 100%;
    object-fit: cover;

    margin-bottom: 20px;
}

.img_x3{
    position: relative;
}

.img_group{
    overflow: hidden;
}

#home_contact{
    height: 30px;
    background-color: red;
    text-align: right;
}

#chat_icon{
    margin-left: auto;
    margin-right: auto;
}

/*---- tablet ----*/

@media screen and (min-width: 768px) {
    #menu{
        display: block;
    }

    #burger,#up_icon{
        display: none;
    }

    .player_section{
        margin-bottom: 40px;
    }

    .img{
        margin-bottom: 40px;
    }

}



/*---- desktop ----*/

@media screen and (min-width: 1200px) { 
    
    .home_welcome{
        font-size: 160px;
        margin-bottom: -60px;
    }

    .player_section{
        margin-bottom: 120px;
    }
    
    .img{
        margin-bottom: 120px;
    }
}